@{
    ViewData["Title"] = "Career";
}

<div class="text-center">
    <h1 class="display-4">Cher's Career</h1>
    <p>This page is all about Cher 60 + year Career!!! </p>

    <a asp-controller="Career" asp-action="Index">Index</a>

    <br />

    <ul class="links">
        <li>
            <a href="@Url.Action("Albums", "Career")" title="Albums" class="links">
                <img alt="CherAlbums" width="250" height="250" src="@Url.Content("~/FinalImages/CherAlbums_icon.png")">

            </a>
        </li>
        <li>
            <a href="@Url.Action("Awards", "Career")" title="Awards" class="links">
                <img alt="CherAwards" width="250" height="250" src="@Url.Content("~/FinalImages/CherAwards_icon.png")">

            </a>
        </li>
        <li>
            <a href="@Url.Action("Film", "Career")" title="Films" class="links">
                <img alt="CherMovies" width="250" height="250" src="@Url.Content("~/FinalImages/CherFilm_icon.png")">

            </a>
        </li>
        <li>
            <a href="@Url.Action("TV", "Career")" title="TV" class="links">
                <img alt="CherTV"  width="250" height="250" src="@Url.Content("~/FinalImages/CherTV.png")">

            </a>
        </li>
    </ul>

    <style type="text/css">
        ul.links {
            list-style-type: none;
        }

            ul.links li {
                display: inline-block;
                border-left: 1px solid black;
                padding-left: 10px;
                margin-left: 10px;
            }

                ul.links li:first-child {
                    border-left: 0;
                    padding-left: 0;
                    margin-left: 0;
                }
    </style>

</div>



